
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>Mvc Kamp Tablo Örneği - Kategori</h3>
<br />

<table class="table table-bordered">
    <tr>
        <td>Kategori ID</td>
        <td>Kategori Adı</td>
        <td>Açıklama</td>
        <td>Durum</td>
        <td>Güncelle</td>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>
<button class="btn btn-info">Yeni Kategori</button>
<button class="btn btn-warning">Kategori Listesi</button>
<button class="btn btn-danger">Kategori Açıklamaları</button>